useDynLib(psbpHMM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "cov", "dnorm", "pnorm", "quantile", "rWishart",
               "rbeta", "rgamma", "rgeom", "rnorm", "runif")
exportPattern("^[[:alpha:]]+")
